[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prompt-toolkit = "~=3.0"
pygments = "~=2.9"

[dev-packages]
flake8 = "~=3.7"
isort = "~=5.9"
flake8-annotations = "~=2.0"
flake8-bandit = "~=2.1"
flake8-docstrings = "~=1.5"
black = "~=21.6b0"
pre-commit = "~=2.13"
mypy = "~=0.910"
pytest = "~=6.2"

[scripts]
start = "python ./main/main.py"
test = "python -m pytest"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
